# PostgreSQL
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=crypto_prices
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Database URL (для SQLAlchemy / Alembic)
DATABASE_URL=postgresql://user:password@db:5432/crypto_prices

# Redis
REDIS_URL=redis://redis:6379/0

# External API
DERIBIT_API_URL=https://www.deribit.com/api/v2

# Misc
TZ=UTC
PYTHONUNBUFFERED=1
